*, *:before, *:after {
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/4584.png);
    background-repeat: no-repeat;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
}



figure{
    width: 350px;
    height: 426px;
    background-color: rgb(160, 131, 228);
    color: rgb(32, 8, 32);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: inline-flex;
}

figure h2{
    transform: translateY(20px);
    transition: 0.2s;
    margin-top: 300px;
    color: black;
}

figure p{
    transition: 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    color: black;
}

figure:before {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    left: 5%;
    bottom: 5%;
    border-top: solid 4px;
    border-bottom: solid 4px;
    transition: 0.7s;
    transform: scaleX(0);

}

figure:hover:before,
figure:hover:after{
    transform: scale(1);
}

figure:after{
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    left: 5%;
    bottom: 5%;
    border-left: solid 4px;
    border-right: solid 4px;
    transform: scaleY(0);
    
}

figure:hover h2,
figure:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.container{
display: inline-flex;
}


.nav{
    margin-right: 335px;
}


.nav-line{
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-right: 25px;
    float: right;
}


.nav-line:hover{
    color: bisque;
}


.back{
    color: black;
    border: 2px solid black;
    padding: 3px;
    text-decoration:none;
    margin-left: -7px;
}


.back:hover{
    color: bisque;
    border-color: bisque;
}


.box{
    text-align: center;
    position: relative;
    margin-top: 270px;
    text-decoration: none;
    
}

#dis{
    background-image: url(https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ);
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
}

#telegram{
    background-image: url(https://m.buro247.ru/images/ks/telegramm_logo830.png);
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
}

#github{
    background-image: url(https://i.pinimg.com/originals/11/8e/6f/118e6f39fac9344d6589c84d5ee9e667.png);
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-repeat: no-repeat;
    
}

.footer{  
    border: 2px solid black;
    border-radius: 12px 10px;
    padding: 2px;
    width: 250px;
    text-align: center;
    align-items: center;
    margin-left: 820px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    
}




.head-container{
    padding-top: 30px;
    margin-left: 166px;
}

