*, *:before, *:after {
box-sizing: border-box;
}


body{
font-family: Arial, Helvetica, sans-serif;
background-color: antiquewhite;
background-repeat: no-repeat;
-moz-background-size:100%;
-webkit-background-size:100%;
-o-background-size:100%;
background-size:100%;
}
	
	


.header-logo{
margin-left: 200px;
margin-top: 25px;
}



.next{
    right: 5px;
    position: absolute;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: black;
    text-decoration: none;
    font-size: 20px;
    float: left;
    margin-right: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back{
    position: absolute;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: black;
    text-decoration: none;
    font-size: 20px;
    float: left;
    margin-left: -8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.back:hover{
box-shadow: inset 100px 0 0 0 #364d55;
color: white;   
border: 4px solid black;
padding: 2px;
}
.next:hover{
box-shadow: inset 100px 0 0 0 #364d55;
color: white; 
border: 4px solid black;
padding: 2px;
}








.secpic{
    margin-left: 100px;
    margin-top: 260px;
    background-color: #657d85;
    width: 400px;
    float: left;
}

.secpic1{
    margin-top: 260px;
    background-color: #657d85;
    width: 400px;
    float: right;
    margin-right: 100px;
}

#lorem1{
    color: rgb(5, 5, 5);
    font-weight: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sectionbox{
    border: 3px solid black;
    width: 400px;
    text-align: center;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}



summary{
    text-align: left;
}

.article{
    border: 3px solid black;
    width: 800px;
    margin-left: 150px;
    position: relative;
    margin-top: 150px;
    float: left;
    background-color: #657d85;
    text-align: center;
    padding: 8px;
}
.footer{
 border: 3px solid black;
position: absolute;
margin-left: 41%;
padding: 5px;
background-color: rgb(196, 207, 216);
}